$titleFontSize: 3rem;

.section {
  min-height: 100vh;
  padding: 4rem 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:nth-of-type(even) {
    background-color: black;
    color: white;
  }
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: $titleFontSize;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;

  @media (prefers-color-scheme: dark) {
    border-color: #222;
  }
}
