$titleFontSize: 3.5rem;
$sectionBackgroundColor: #fbfaf5;
$titleColor: #ff4600;
$descriptionColor: #f9f8ee;

.section {
  min-height: 100vh;

  &:nth-of-type(even) {
    color: white;
  }
}

.container {
  padding: 4rem 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: $titleColor;
  margin: 0;
  line-height: 1.15;
  font-size: $titleFontSize;
}

.title,
.description {
  text-align: center;
}

.description {
  color: $descriptionColor;
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1rem;
}

.backdrop {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.splashScreen {
  position: relative;
  height: 130px;
  min-height: 0;
  z-index: 1;
}
